{% extends 'base.html.twig' %}

{% block title %}Projet e-commerce
{% endblock %}

{% block body %}
	<div class="col px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{ asset('img/bootstrap-themes.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">Projet e-commerce</h1>
				<p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae aperiam aliquid rem numquam nulla doloremque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quas?</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Consulter</button>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4">Contact</button>
				</div>
			</div>
		</div>
	</div>
</hr>
<div class="row">
<h2 class="my-4">Nos best sellers</h2>
	{% for p in products %}
		{% set maxWidth = '25rem' %}
		<div class="col">{% include "_product.html.twig" with {'product': p} %}</div>
	{% endfor %}
	{# <div class="col">{% include "_product.html.twig" with  {"tags": "Salle de bain", "name": "Lorem, ipsum dolor", "description": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, harum"} %}</div> #}
</div>
{% endblock %}
