{% extends "base.html.twig" %}

{% block title %}
  Valider votre paiment
{% endblock %}

{% block body %}
  <h1>Validation de votre paiment</h1>
  <!-- Display a payment form -->
    <form id="payment-form">
      <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
      </div>
      <button id="submit" class="btn btn-primary">
        <span id="button-text">Payer</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const clientSecret = '{{ clientSecret }}';
    // This is your test publishable API key.
const stripe = Stripe("pk_test_51KOHpyIDdyF0fwsPTvvd4Y0QsWczaG8XA3iXKykhxSVv3kqq36q5Nq0m8wGbuO8IzpQkEmdeLoL0vxH8C9Tu6gDi00C8OT2SvY");
    
    function initialize() {
      document
        .querySelector("#payment-form")
        .addEventListener("submit", handleSubmit);

      // Fetches a payment intent and captures the client secret
      elements = stripe.elements({ clientSecret });
      const paymentElement = elements.create("payment");
      paymentElement.mount("#payment-element");
    }

    async function handleSubmit(e) {
      e.preventDefault();
      const { error } = await stripe.confirmPayment({
        elements,
        confirmParams: {
					
           return_url: "{{path('purchases_index')}}",}
      })

      
    }

    // Fetches the payment intent status after payment submission
    async function checkStatus() {
      const clientSecret = new URLSearchParams(window.location.search).get(
        "payment_intent_client_secret"
      );

      if (!clientSecret) {
        return;
      }

      const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

      switch (paymentIntent.status) {
        case "succeeded":
          console.log("Payment succeeded!");
          break;
        case "processing":
          console.log("Your payment is processing.");
          break;
        case "requires_payment_method":
          console.log("Your payment was not successful, please try again.");
          break;
        default:
          console.log("Something went wrong.");
          break;
      }
    }

    initialize();
    checkStatus();
    
  </script>
  
{% endblock %}